body{
    background-color: rgb(223, 237, 233);
    display: flex;
    flex-wrap: wrap;
}
p{
    font-size: larger;
    color:rgb(7, 6, 6);
    background-color:rgb(91, 147, 232);
    width: 50px;
    margin: 10px;
     text-align: center;
     padding: 10px;
     margin: 1px;
     display: flex;
  
}

.parent{
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 1fr 1fr 1fr 1fr;
    height: 40px;
    width: 60px;
    text-align: center;
    padding: 10px;
    margin: 1px;
   
}
.a1{
    background-color: red;
}
.a2{
    background-color: rgb(222, 121, 21);
}